[package]
name = "wasmgdb"
version = "0.1.17"
edition = "2021"
description = "gdb for WebAssembly"
authors = ["Sven Sauleau <sven@sauleau.com>"]
license = "MIT"
keywords = ["wasm", "gdb", "debug", "coredump", "stack"]
repository = "https://github.com/xtuc/wasm-coredump/tree/main/bin/wasmgdb"

[dependencies]
gimli = "0.26.2"
colored = "2.0.0"
env_logger = "0.9.1"
wasmgdb_ddbug_parser = { version = "0.3.1" }
log = "0.4.17"
nom = "7.1.1"
hex = "0.4.3"
core-wasm-ast = { path = "../../lib/ast", version = "0.1.17" }
wasm-parser = { path = "../../lib/parser", version = "0.1.17" }
wasm-printer = { path = "../../lib/printer", version = "0.1.17" }
wasm-coredump-rewriter = { path = "../../bin/rewriter", version = "0.1.17" }
wasm-coredump-types = { path = "../../lib/coredump-types", version = "0.1.17" }
clap = { version = "4.1.4", features = ["derive"] }
wasmtime = "5.0.0"
wasmtime-wasi = "5.0.0"
